<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246922376482-19gpap6uh74c34uhihjjfasa3ufm57oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246922376482-19gpap6uh74c34uhihjjfasa3ufm57oa</string>
	<key>API_KEY</key>
	<string>AIzaSyC4tqJ8qHyfSqpSjjtshUpQ6MIUdGo6iMg</string>
	<key>GCM_SENDER_ID</key>
	<string>246922376482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oleypl.TextFromDrawing</string>
	<key>PROJECT_ID</key>
	<string>textfromdrawingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>textfromdrawingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246922376482:ios:30680ceb9b246e7538e17b</string>
</dict>
</plist>